* {
    padding: 0;
    margin: 0;
    font-family: "Golos Text", sans-serif;
}

/* header */

header {
    width: 100%;
    padding: 10px;
    background-color: white;
}

#logoimg {
    height: 100px;
    vertical-align: middle;
    text-align: center;
}

#pageTitle {
    display: inline;
    vertical-align: middle;
    font-weight: bold;
    font-size: 30px;    
}

/* grey container */

body {
    width: 100%;
    height: 100%;
    margin-top: 0;
    background-color: #F7F8FB;
}

/* button section */

.buttonContainer {
    height: auto;
    width: auto;
    margin: 50px 300px 5px;
    background-color: white;
}

.buttons {
    padding: 20px;
    margin-left: 30px;
}

.addBlue {
    background-color: #66AAED;
    color: white;
    padding: 10px;
    border-radius: 4px;
    border: none;
    margin-right: 5px;
}

.addWhite {
    padding: 10px;
    border-radius: 4px;
    border: none;
}

/* task section */

.taskContainer {
    height: auto;
    width: auto;
    margin: 0px 300px 25px;
    background-color: white;
}

.task {
    margin: 0px 50px 20px;
}

.taskTitle {
    margin-bottom: 20px;
}

.text {
    padding-left: 5px;
    padding-bottom: 10px;
}

.check {
    display: inline-block;
    color:  rgb(123, 188, 170);
    border: 2px solid  rgb(123, 188, 170);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 10px;
}

.cross {
    display: inline-block;
    color:  red;
    border: 2px solid  red;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    text-align: center;
    margin-bottom: 10px;
}

/* label colors */

.lblue {
    background-color: #66AAED;
    color: white;
    padding: 5px 15px 5px;
    border-radius: 20px;
    border: none;
    margin-right: 5px;
}

.violet {
    background-color: #9676DF;
    color: white;
    padding: 5px 15px 5px;
    border-radius: 20px;
    border: none;
    margin-right: 5px;
}

.dgreen {
    background-color: #7BBCAA;
    color: white;
    padding: 5px 15px 5px;
    border-radius: 20px;
    border: none;
    margin-right: 5px;
}

.orange {
    background-color: #E7A04E;
    color: white;
    padding: 5px 15px 5px;
    border-radius: 20px;
    border: none;
    margin-right: 5px;
}

.dpink {
    background-color: #CB6A9E;
    color: white;
    padding: 5px 15px 5px;
    border-radius: 20px;
    border: none;
    margin-right: 5px;
}

.lgreen {
    background-color: #B4C74E;
    color: white;
    padding: 5px 15px 5px;
    border-radius: 20px;
    border: none;
    margin-right: 5px;
}